.pagination_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;

  font-size: 12px;
  font-weight: bold;
  line-height: 2em;
  color: #fff;
}

.pagination_container > ul {
  display: flex;
  flex-wrap: wrap;
  padding: .5em;
}
.pagination_container > ul > li {
  text-align: center;
  list-style: none;
  user-select: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
.numb{
  list-style: none;
  height: 2em;
  width: 2em;
  margin: 0 3px;
  border-radius: .5em;
}
.first, .last, .dots {
  margin: 0 .2em 0 .2em;
}
.prev{
  padding: 0 .5em 0 .5em;
  border-radius: .5em;
}
.next{
  padding: 0 .5em 0 .5em;
  border-radius: .5em;
}
.active{
  color: #fff;
  background-color:  rgb(64, 178, 8);
}

@media (hover: hover) {
  .numb:hover,
  .pagination_container > ul > li:first-child:hover,
  .pagination_container > ul > li:last-child:hover{
    color: #fff;
    background-color: rgb(21, 19, 19);
  }
  
}

/*small sm*/
@media screen and (min-width: 576px) and (max-width: 767px) {
  .pagination_container {
    font-size: 14px;
  }
}
/*medium md*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .pagination_container {
    font-size: 16px;
  }
}
 /*large l xl xxl*/
@media screen and (min-width: 992px) {
  .pagination_container {
    font-size: 18px;
  }
}