.loading {
  width: 120px;
  height: 120px;
  position: relative;
}

.d1 ,
.d2 {
  border: 6px solid rgb(94, 255, 13);
  border-radius: 50px;
}

.loading .d1 {
  width: 95px;
  height: 95px;
  position: absolute;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: load161 1.7s linear infinite;
}

.loading .d2 {
  width: 70px;
  height: 70px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  margin: 12px;
  animation: load2812 3s linear infinite;
}

@keyframes load161 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes load2812 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}